<div id="category_manage">
	<form class="setting-manage-form" id="category_form">
		<div><h5>产品分类</h5></div><hr />
		<div class="row form-group">
			<label for="firstclass" class="col-sm-2 control-label text-right">产品分类(一级)：</label>
			<div class="col-sm-3">
				<select name="firstclass" id="firstclass" class="form-control" >
				
				</select>
			</div>
			<label for="secondclass" class="col-sm-2 control-label text-right">产品分类(二级)：</label>
			<div class="col-sm-3">
				<select name="secondclass" id="secondclass" class="form-control" >
				
				</select>
			</div>
		</div>
		<div class="row form-group">
			<label for="title" class="col-sm-2 control-label text-right">名称(zh)：</label>
			<div class="col-sm-3">
				<input type="text" class="form-control" name="title" placeholder="请输入名称" value='' >
			</div>
			<label for="title_en" class="col-sm-2 control-label text-right">名称(en)：</label>
			<div class="col-sm-3">
				<input type="text" class="form-control" name="title_en" placeholder="请输入名称" value='' >
			</div>
		</div>
		<div class="row form-group">
			<label for="rank" class="col-sm-2 control-label text-right">排序：</label>
			<div class="col-sm-8">
				<input type="text" class="form-control" name="rank" id="rank" placeholder="请输入排序" value='' >
			</div>
		</div>
		<div class="row form-group">
			<label for="description_mobile" class="col-sm-2 control-label text-right">简描述For手机(zh)：</label>
			<div class="col-sm-8">
				<input type="text" class="form-control" name="description_mobile" id="description_mobile" placeholder="请输入名称" value='' >
			</div>
		</div>
		<div class="row form-group">
			<label for="description_mobile_en" class="col-sm-2 control-label text-right">简描述For手机(en)：</label>
			<div class="col-sm-8">
				<input type="text" class="form-control" name="description_mobile_en" id="description_mobile_en" placeholder="请输入名称" value='' >
			</div>
		</div>
		<div class='row form-group'>
			<label for="category_text_uploadimg" class="col-sm-2 control-label text-right">图片For手机</label>
			<div class="col-sm-8">
				<input class="btn btn-primary" type="file" id="category_text_uploadimg" multiple 
					accept="*.gif, *.jpeg, *.png, *.jpg, *.bmp " /><br /><br />
				<img wdith="300" height="200" name="img_url" src="">
				<input type="hidden" name="img_url" value="">
			</div>
		</div>
		
		<hr />
		
		<div class="row form-group">
			<div class="col-sm-2"></div>
			<div class="col-sm-4">
				<a type="button" class="btn btn-primary" href="/admin/manage/index?main=category">返回</a>
			</div>
			<div class="col-sm-2">
				<button type="button" class="btn btn-primary" onclick="updateCategory()">修改</button>
			</div>
			<div class="col-sm-2">
				<button type="button" class="btn btn-primary" onclick="saveCategory()">保存</button>
			</div>
			<div class="col-sm-2">
				<button type="button" class="btn btn-danger" onclick="deleteCategory()">删除</button>
			</div>
		</div>

    </form>
</div>

<script type="text/javascript">
function saveCategory() {
	var params = $.param({
    'description' : $("#description_mobile").val(),
    'description_en' : $("#description_mobile_en").val()
  }) + '&' + $("#category_form").serialize();
  $.post("/admin/manage/saveCategoryProduct", params , function(data){
        data = $.parseJSON(data);
        if( data.result ) {
        	bootbox.alert("保存成功",function() {});
        } else {
          bootbox.alert(data.message,function() {});
        }
  });
}

function updateCategory() {
  var params = $.param({
    'rank' : $("#rank").val(),
    'title' : $("#title").val(),
    'title_en' : $("#title_en").val(),
    'first' : $("#firstclass").find("option:selected").val(),
    'img_url' : $("input[name='img_url']").val(),
    'description' : $("#description_mobile").val(),
    'description_en' : $("#description_mobile_en").val()
  }) + '&' + $("#category_form").serialize();
  $.post("/admin/manage/updateCategoryProduct", params , function(data){
        data = $.parseJSON(data);
        if( data.result ) {
        	bootbox.alert("修改成功",function() {});
        } else {
          bootbox.alert(data.message,function() {});
        }
  });
}

$("#firstclass").change(function (obj) {
		var params = {};
		params.firstclass = $("#firstclass").val();
		$("#secondclass").val(0);
		console.log( "params.firstclass = " + params.firstclass) ;
		if( params.firstclass == -1 ) {
			$("input[name='rank']").val( "" );
    	$("input[name='title']").val( "" );
    	$("input[name='title_en']").val( "" );
    	$("img[name='img_url']").attr("src", "" );
    	$("input[name='img_url']").val( "" );
    	$("#description_mobile").val( "" );
    	$("#description_mobile_en").val( "" );
			return ;
		}
		$.post("/admin/manage/get_category_info", params , function(data){
        data = $.parseJSON(data);
        console.log( data.obj [0]) ;
        console.log( data.obj [1]) ;
        if( data.result ) {
        	// 设置二级分类
        	if( data.obj [1] ) {
        		$("#secondclass").html("");
        		$("#secondclass").append("<option value=-1>增加二级分类</option>") ;
        		$("#secondclass").append("<option value=0>修改一级分类</option>") ;
        		$.each( data.obj[1],function(index, item) {
        			$("#secondclass").append("<option value=" + item.id + ">" + item.title + "</option>") ;
        		});
        	}
        	
        	// 设置当前分类
        	$("input[name='rank']").val( data.obj[0].rank );
        	$("input[name='title']").val( data.obj[0].title );
        	$("input[name='title_en']").val( data.obj[0].title_en );
        	$("img[name='img_url']").attr("src",data.obj[0].img_url );
        	$("input[name='img_url']").val( data.obj[0].img_url );
        	$("#description_mobile").val( data.obj[0].description );
        	$("#description_mobile_en").val( data.obj[0].description_en );
        } else {
          bootbox.alert(data.message,function() {});
        }
  });
});

$("#secondclass").change(function (obj) {
		var params = {};
		params.secondclass = $("#secondclass").val();
		if( params.secondclass == -1 || params.secondclass == 0 ) {
			$("input[name='rank']").val( "" );
    	$("input[name='title']").val( "" );
    	$("input[name='title_en']").val( "" );
    	$("img[name='img_url']").attr("src", "" );
    	$("input[name='img_url']").val( "" );
    	$("#description_mobile").val( "" );
    	$("#description_mobile_en").val( "" );
			return ;
		}
		$.post("/admin/manage/get_category_info", params , function(data){
        data = $.parseJSON(data);
        console.log( data.obj [0]) ;
        console.log( data.obj [1]) ;
        if( data.result ) {
        	$("input[name='rank']").val( data.obj[0].rank );
        	$("input[name='title']").val( data.obj[0].title );
        	$("input[name='title_en']").val( data.obj[0].title_en );
        	$("img[name='img_url']").attr("src",data.obj[0].img_url );
        	$("input[name='img_url']").val( data.obj[0].img_url );
        	$("#description_mobile").val( data.obj[0].description );
        	$("#description_mobile_en").val( data.obj[0].description_en );
        } else {
          bootbox.alert(data.message,function() {});
        }
  });
});

function deleteCategory() {
	var params = {};
	params.id = $("#secondclass").find("option:selected").val() ;
	if( params.id < 1 ) {
	  params.id = $("#firstclass").find("option:selected").val() ;
	}
  $.post("/admin/manage/deleteCategoryProduct", params , function(data){
        data = $.parseJSON(data);
        if( data.result ) {
        	bootbox.alert("删除成功",function() {});
        } else {
          bootbox.alert(data.message,function() {});
        }
  });
}

// 图片上传
$("#category_text_uploadimg").change(function(){
    var formData = new FormData();
    var f = $('#category_text_uploadimg')[0].files[0];   
    formData.append('file', f); // 固定格式
    uploadImg ( formData, function( data ) {
    	$("img[name='img_url']").attr("src",data.obj.url);
    	$("input[name='img_url']").val(data.obj.url);
    } );
});
</script>