/* 首页homneproduct 展示区 */
.homearea_products .tabs {
  width: 642px;
  margin: 0 auto;
  margin-left: 18px;
}
.homearea_products .tabs a {
  display: flex;
  float: left;
  height: 34px;
  width: 100px;
  color: #333;
  text-align: center;
  border-radius: 5px 5px 0 0;
  border: 1px solid #ccc;
  background: #fff;
  line-height: 0px;
  font-size: 13px;
  font-style: italic;
  text-decoration: none;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#ddd)); /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, #ffffff, #ddd); /* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image:    -moz-linear-gradient(top, #ffffff, #ddd); /* FF3.6 */
  background-image:     -ms-linear-gradient(top, #ffffff, #ddd); /* IE10 */
  background-image:      -o-linear-gradient(top, #ffffff, #ddd); /* Opera 11.10+ */
  background-image:         linear-gradient(to bottom, #ffffff, #ddd);
}
.homearea_products .tabs a h6 {
  background-color: #edeeee;
  color: #000;
  width: 100px;
  height: 33px;
  padding-left: 1px;
  padding-right: 1px;
  margin-bottom: 0px;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.homearea_products .tabs a.active {
  color: #fff;
  background: #333;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#333), to(#000)); /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, #333, #000); /* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image:    -moz-linear-gradient(top, #333, #000); /* FF3.6 */
  background-image:     -ms-linear-gradient(top, #333, #000); /* IE10 */
  background-image:      -o-linear-gradient(top, #333, #000); /* Opera 11.10+ */
  background-image:         linear-gradient(to bottom, #333, #000);
  border-bottom: 1px solid #000;
}

.homearea_products .tabs a.active h6 {
  background: url(../img/20221115143856.png) center 0 #ededed;
  background-repeat:repeat;
  text-align: center;
}

.homearea_products .swiper-container {
  background: #333;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#000), to(#333)); /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, #000, #333); /* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image:    -moz-linear-gradient(top, #000, #333); /* FF3.6 */
  background-image:     -ms-linear-gradient(top, #000, #333); /* IE10 */
  background-image:      -o-linear-gradient(top, #000, #333); /* Opera 11.10+ */
  background-image:         linear-gradient(to bottom, #000, #333);
  height: 400px;
  border-radius: 0 0 5px 5px;
  border: 1px solid #ccc;
  margin-left:18px;
  margin-right:18px;
  width: 687px;
  border-top: 0;
}
.homearea_products .swiper-slide {
  height: 250px;
  width: 640px;
  background: none;
  color: #fff;
}
.homearea_products .content-slide {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
}

.homearea_products .content-slide a {
  color: #000;
}

.homearea_products .content-slide .tabs_left {
  float: left;
}

.homearea_products .content-slide .tabs_left img {
  width: 200px;
  height: 200px;
}

.homearea_products .content-slide .tabs_right {
  float: right;
  width: 450px;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 7;
  -webkit-box-orient: vertical;
}

.homearea_products .content-slide .product-imgs {
  float:left;
  margin-top:10px;
}

.homearea_products .content-slide .product-imgs img {
  width: 160px;
  height: 160px;
  margin-right: 3px;
}

.homearea_products .content-slide .product-imgs .p-img {
  width: 160px;
  height: 160px;
  margin-right: 0px;
}

.home-hr {
  color: #B8B8B8;
  text-align: center;
  font-style: italic;
  margin-top: -7px;
  clear: both;
  font-size: 8px;
  margin-left: 0px;
}

.margintop--news {
  margin-top: -7px;
}

.margintop-100 {
  margin-top: 100px;
}

.homearea_news {
  margin-top:0px;
}

.homearea_news .news_row {
  padding-left: 24px;
}

.homearea_news .news_row li {
  margin-bottom: 30px;
  clear: both;
}

.layout .containerBox .container .contentBox .rightMain .news_row .description {
    width: 690px;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    text-decoration: none;
    font-size: 16px;
    margin-top:14px;
    float:left;
}

.layout .containerBox .container .contentBox .rightMain .news_row .new_check {
  float: right;
  margin-top:60px;
}

.layout .containerBox .container .contentBox .rightMain .homearea_products {
    overflow: hidden;
    margin-left: 5px;
    margin-top:20px;
}