.home-product-category-info img {
	width: 200px;
	height: 200px;
	float: left;
	margin-left: 30px;
}

.home-product-category-info div {
	width: 400px;
	float: left;
	margin-left: 30px;
}

.home-product-category-video video {
	width: 620px; 
	height: 400px; 
	margin-top: -10px;
	margin-left: 30px;
	margin-bottom: 30px;
}

/** 产品展示 */
.layout .containerBox .container .contentBox .rightMain .list_row {
    margin-bottom: 30px;
    padding-left: 30px;
    padding-top: 20px;
    list-style: none;
}

.layout .containerBox .container .contentBox .rightMain .list_row li {
    list-style: none;
    float: left;
    margin-right: 20px;
    margin-bottom: 60px;
}

.layout .containerBox .container .contentBox .rightMain .list_row li a {
    height: 140px;
    width: 140px;
    margin-right: 0px;
    display: block;
}

.layout .containerBox .container .contentBox .rightMain .list_row li a:link, 
.layout .containerBox .container .contentBox .rightMain .list_row li a:visited {
    color: #666;
    text-decoration: none;
}

.layout .containerBox .container .contentBox .rightMain .list_row li img {
    width: 140px;
    height: 140px;
    margin: 0;
    padding: 0;
}

.layout .containerBox .container .contentBox .rightMain .list_row li span {
    display: block;
    height: 30px;
    line-height: 30px;
    color: #000;
    margin: 0;
    padding: 0;
    text-align: center;
}