<style type="text/css">
/*.carousel, .carousel img {
    width: 100px;
    height: 100px !important;
}*/
</style>
<div class="container" style="padding:0px;width:900px;margin:0px;height: 255px;">
	<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
		<div class="carousel-inner">
			{volist name="banners" id="banner" key="d"}
			<div class="carousel-item {if condition='$d eq 1'}active{/if}" style="height: 255px;">
				<img src="{$banner}" class="d-block w-100" alt="">
			</div>
			{/volist}
		</div>
	</div>
</div>
<script>
    $('.carousel-inner').carousel({
        interval: 200000
    });
</script>