<link rel="stylesheet" type="text/css" href="/static/css/homeproduct.css">
{notempty name="homearea"}
	{notempty name="homearea.news"}
	<div class="homearea_news">
		<ul class="news_row">
			{volist name="homearea.news" id="n"}
			<li>
				<a href="/?cid=3&pid={$n.id}"><h4>{$n.title}</h4></a>
				<a href="/?cid=3&pid={$n.id}"><div>{$n.description}</div><div class="new_check">{$Think.lang.news_view}</div></a>
			</li>
			{/volist}
		</ul>
	</div>
	{/notempty}

	{notempty name="homearea.products"}
	<div class="homearea_products">
		<div class="tabs">
			{volist name="homearea.products" id="n"}
			<a href="#"><h6>{$n ['title']}</h6></a>
			{/volist}
		</div>    
		<div class="swiper-container">
		    <div class="swiper-wrapper">
		    	{volist name="homearea.products" id="m"}
		      <div class="swiper-slide" style="background-color: #F8F8F8;color: #000;">
		        <div class="content-slide">
		        	<a href="{$m ['url']}" >
			          <div class="tabs_left" ><img src="{$m ['img_url']}" /></div>
			          <div class="tabs_right">{$m ['description']}</div>
		        	</a>
		        	{notempty name="$m.imgs"}
		        	<div class="product-imgs">
		        		 {volist name="$m.imgs" id="img" key="d"}
		        		 <a href="{$img.url}"><img {if condition="count($m.imgs) == $d"}class="p-img"{/if} src="{$img.img}" ></a>
		        		 {/volist}
		        	</div>
		        	{/notempty}
		        </div>
		      </div>
		      {/volist}
		    </div>
		</div>
	</div>
	{/notempty}

{/notempty}
<iframe src="http://www.47daien.com/static/video/ima.mp4" style="width: 640px; height: 400px; margin-top: 30px;margin-left: 30px;margin-bottom: 30px;"></iframe>
<script type="text/javascript">
$(function(){
	var tabsSwiper = new Swiper('.swiper-container',{
		onlyExternal : true,
		speed:1000
	});
	$(".tabs a").on('touchstart mousedown',function(e){
		e.preventDefault();
		$(".tabs .active").removeClass('active')
		$(this).addClass('active');
		tabsSwiper.swipeTo( $(this).index() );
		i = $(this).index() ;
	});
	$(".tabs a").click(function(e){
		e.preventDefault();
	});

	var i = 0; ;
	var num = {if condition="!empty($homearea)"}{$homearea.num}{else}0{/if};
	if( num > 0 ) {
		var stop = false;
		$(".swiper-container").mouseover( function( event ) {
			var s = event.toElement || event.relatedTarget;
			stop = true ;
		});
		$(".swiper-container").mouseout( function( event ) {
			var s = event.toElement || event.relatedTarget;
			stop = false ;
		});
		setInterval(function(){
			if( stop == false ) {
				$(".tabs a").removeClass('active');
				$(".tabs a").eq( i % num ).addClass('active');
				tabsSwiper.swipeTo( i % num  );
				i ++;
			}
		}, 113000);
	}
});
</script>