{notempty name="product_detail"}
<div class="content-image"><img src="{$product_detail.img_url}" alt="点击放大" title="点击放大"></div>
<div class="content-title">{$Think.lang.product_name}：{$product_detail.title}</div>
<div class="content-detail">
{$product_detail.description}
</div>
{/notempty}

{notempty name="products"}
	<ul class="list_row list_products">
		{volist name="products" id="product"}
		<li><a href="/?cid=2&did={$did}&pid={$product.id}"><img src="{$product.img_url}"><span>{$product.title}</span></a></li>
		{/volist}
	</ul>
	<div class="clear"></div>
	<div class="page">
		<div class="diy_page">
			{for start = "0" end="$total_page"}
			<a href="?page={$i+1}&amp;cid={$cid}&amp;did={$did}&search={$search}" {if condition="$page eq $i + 1"}class="current"{/if}>{$i+1}</a>
			{/for}
			<span disabled="">{$Think.lang.common_page|sprintf=$page, $total_page, $total}</span>
		</div>
	</div>

{/notempty}

<script type="text/javascript">
	
function search() {
	window.location.href = "/index/index/index?cid=2&did=0&search=" + $("#search").val();
}

</script>